/account/
/antifraud/
/authorization/
/history/
/public-info/
/transfer/
/profile/target/
/profile/HELP.md
/HELP.md
/docker-compose.yml
/checkstyle.xml
/.gitignore
/parent.iml
/pom.xml
/.idea/
/profile/src/main/resources/db/changelog/
/profile/src/main/resources/account-dal-jpa.yaml
/profile/src/main/resources/application.yaml
